* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    height: 60px;
    width:100%;
    padding: 0;
    background-color: #0b62e2;
    color:aliceblue;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    left:0;
    top:0;
    right:0;
}

.header .container{
    width:1200px;
    display:flex;
    justify-content: space-around;
}

.logo {
    font-size: 30px;
}
.search input{
     width: 400px;
     height: 30px;
     border-radius: 20px;
     padding: 10px ; 
     border: none;
     background-color: rgba(255,255,255,0.2);
     outline: none;
}
.list-link {

}
.link {
    text-decoration: none;
    color:aliceblue;
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
}

.progress {
    margin:115px 33px 40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    width: 1140px;
}

.progress p{
    font-size: 18px;
}

.content-left {
    margin-left: 35px;
}
.content-right {
    margin-right: 35px;
}
.range {
    margin-top: 10px;
    width: 180px;
    height: 10px;
    background-color: gainsboro;
    border-radius: 10px;
}
.water {
    height: 100%;
    width: 120px;
    background-color: #0b62e2;
    border-radius: 10px;
}

.my-learning {
    
}
.course {
    color:#0b62e2;
}
.list {
    width: 1270px;    
    margin: 20px 0;
    display:flex;
    gap: 20px; 
    flex-wrap: wrap;
}
.item {
    width: 410px;
    height: 295px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.item img{
    width: 410px;
    height: 160px;
}

.course-name {
    margin-left: 15px;
    margin-top: 15px;
}
.tỉ-lệ {
    margin-left: 15px;
    color: var(--color-azure-1575, #212529BF);;
}
.continue {
    width: 370px;
    height: 43px;
    background-color: #0b62e2;
    color:aliceblue;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 10px;
}

.item-1{
    width: 410px;
    height: 295px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    flex:1;
}

.item-1 img{
    width: 100%;
    height: 160px;
}

.icon-bar{
    display:none;
    font-size: 30px;
}

/* @keyframes loader {
    from{
        width:0%;
    } to {
        width: 100%;
    }
} */

/* Mobile */
@media screen and (max-width: 480px) {
    .list-link,.search{
        display:none;
    }
    .icon-bar{
        display:block;
    }

    .header{
        padding: 0 16px;
    }
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .list-link,.search{
        display:none;
    }
    .icon-bar{
        display:block;
    }

    .header{
        padding: 0 16px;
    }
}
/* desktop small */
@media screen and (min-width:769px) and (max-width:1279px) {

}

/* deskop big */
@media screen and (min-width: 1280px)  {

    

}
