*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.big-container{
    display:flex;
    gap: 24px;
    justify-content: center;
}

.container{
    width: 414px;
    height: 447.97px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.box {
    width: 414px;
    height: 200px;
    background: linear-gradient(to right, #4facfe, #8f6ed5);
    position:relative;
}
.box-item1 {
    position:absolute;
    top: 66.6px;
    left: 175px;
}
.box-item2 {
    position:absolute;
    top: 14px;
    right: 14.95px;    
    width: 70px;
    height: 26.59px;
    padding-bottom: 0.59px;
    color:#ffffff;
    font-size: 16px;
    font-weight: 400;
}
.about {
    width:414px;
    height: 247.97px;
}

.content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 16px 8px;
}



.sticker {
    width: 67.6px;
    height: 20.4px;
    border-radius: 6px;
    padding: 2px 7.8px; 
    color: #6366F1;
    font-weight: 700;
    font-size: 12px;
    background: var(--color-blue-6710, #6366F11A);
}



.evaluation {
    display:flex;
    gap: 4px;
    width:46px;
    height:26.59px;
}
.img {
    width:16px;
    height: 25.59px;
    padding-top: 4px;
    padding-bottom: 5.59px;
}
.h3 {
    padding-bottom: 0.59px;
    width:26px;
    height: 26.59px;
    font-size: 16px;
    font-weight: 700;
    color: #212529;
}

h2{
    font-size: 20px;
    font-weight: 700;
    color:#212529;
    margin-left: 16px;
    margin-bottom: 7.2px;
}

.p{
    width:364px;
    margin-left: 16px;
    height: 45.58px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-azure-1575, #212529BF);
}

.description {
    display:flex;
    justify-content: space-between;
    margin: 0 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-azure-1575, #212529BF);
}
.item-left {
    display:flex;
    gap: 8.5px;
}

.item-right {
    display:flex;
    gap:8.5px;
}

.line {
    width: 93%;;
    height:1px;
    background-color: var(--color-azure-1575, #212529BF);
    margin: 16px 16px;
}

.foot {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px; 
}
.foot-left {

}
.h2-2 {
    font-size: 20px;
    font-weight: 700;
    color:#6366F1;
}
.foot-right {
}
.button {
    width: 96px;
    height: 31px;
    background-color: #0d6efd;
    color:#ffffff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    border:none;
}

.box-2{
    width: 414px;
    height: 200px;
    background: linear-gradient(to right, #10b981, #059669);
    position:relative;
}

.box-item3{
    color:#ffffff;
    top: 14px;
    right: 14.8px;
    position:absolute;
    font-size: 16px;
    font-weight: 400;
}

.sticker-2{
    width: 67.6px;
    height: 20.4px;
    border-radius: 6px;
    padding: 2px 7.8px; 
    font-weight: 700;
    font-size: 12px;
    color: var(--color-spring-green-31, #198754);
    background: var(--color-spring-green-3910, #10B9811A);

}

.box-3{
    width: 414px;
    height: 200px;
    background: linear-gradient(115.78deg, #F59E0B 0%, #D97706 100%);
    position:relative;
}

.box-item4{
    color:#ffffff;
    top: 14px;
    right: 14.8px;
    position:absolute;
    font-size: 16px;
    font-weight: 400;
}

.sticker-3{
    width: 75.6px;
    height: 20.4px;
    border-radius: 6px;
    padding: 2px 7.8px; 
    font-weight: 700;
    font-size: 12px;
    color: var(--color-yellow-51, #FFC107);
    background: var(--color-orange-5010, #F59E0B1A);
}

@media screen and (max-width: 480px) {
    .container{
        display:flex;
        flex: 0 0 calc(100% - 72px) /3;
    }
}

/* tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-link{
        display:none;
    }
    .button button{
        display:none;
    }
    .nav{
        display:block;
        cursor:pointer;
    }
}
/* desktop small */
@media screen and (min-width:769px) and (max-width:1279px) {
    .container{
        display:flex;
        flex-wrap: wrap;
    }
}

/* deskop big */
@media screen and (min-width: 1280px)  {

    
}